{% extends "paginaalunos/base.html" %}
{% block content %}

<h3 class="m-4">Toda a cambada</h3>
<div class="row">
  <div class="col-12">
    {% if alunos %}
    <div class="card br-light ms-4 me-4 mb-4" style="width:20%">
      <div class="card-header bg-primary text-white">
        <span>
          <i class="fas fa-list fa-lg m-3 mt-3"></i>
          Registros de alunos
        </span>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">NickName</th>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for aluno in alunos %}
            <tr>
              <td>{{ aluno.nickname}}</td>
              <td>{{ aluno.nome}}</td>
              <td>{{ aluno.email}}</td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" href="{% url 'view_aluno' aluno.id %}"
                  data-bs-toggle="modal" data-bs-target="#modalViewAluno{{aluno.id}}">
                  <i class="fas fa-circle-info fa-lg"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                  data-bs-target="#modalViewAluno{{aluno.id}}">
                  <i class="fas fa-edit fa-lg"></i>
                </button>
                <!-- Modal - View Aluno -->
                <div class="modal" id="modalViewAluno{{aluno.id}}" tabindex="-1" aria-labelledby="modalViewAlunoLabel1"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Aluno: {{ aluno.nickname }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <ul class="list-unstyled">
                          <div style="width: 90%;">
                            <li><strong>Nome/Nickname: </strong>{{aluno.nome}}/{{aluno.nickname}}</li>
                            <li><strong>Email: </strong>{{aluno.email}}</li>
                            <li><strong>Interesse: </strong>{{aluno.campo_de_estudo}}</li>
                            <li><strong>Discord: </strong>{{aluno.discordid}}</li>
                            <li><strong>Telefone: </strong>{{aluno.telefone}}</li>
                            <li><strong>Dat Nasc: </strong>{{aluno.data_nascimento}}</li>
                          </div>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <h5 class="alert alert-primary ms-4 me-4">Nenhum aluno cadastrado</h5>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
